/*
Last Update: 4/25/2018
MustardPlus
*/

body {
	background-color: #040008;
	color: #FFF;
	font-family: 'Cinzel', serif;
}

.fntSlabo {
	font-family: 'Slabo 27px', serif;
}

.wrapper {
	padding: 0px 5px;
	overflow-x: hidden;
}

#footer {
	text-align: center;
	margin: 40px 0px;
	font-size: 12px;
}

#social {
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

#mnu_pages {
	color: yellow;
}

#mnu_pages a {
	color: #c1c1c1;
}

#mnu_pages a:hover {
	color: #20CC00;
}

.lstIcons li {
	float: center;
	display: inline;
}

.lstIcons img {
	width: 50px;
	-webkit-transition: filter 0.2s;
	-moz-transition: filter 0.2s;
	transition: filter 0.2s;
	filter: invert(100%);
}

.lstIcons img:hover {
	filter: invert(0%);
}

/* Text Enchancements */
.ext0 {
	font-size: 40px;
}

.ext1 {
	font-size: 32px;
}

.ext2 {
	font-size: 24px;
}

.ext3 {
	font-size: 18px;
}

.ext4 {
	font-size: 12px;
}

.compact1 {
	font-size: 4px;
}

.cB { /* Black */
	color: #000;
}

.cW { /* White */
	color: #FFF;
}

.cD { /* Dark */
	color: #33220B;
}

.cY { /* Mustard Yellow */
	color: #FFD600;
}

.cYd { /* Orange */
	color: #FE6800;
}

.cP { /* Purple */
	color: #BB96FC;
}

.cR { /* Red */
	color: #FE1F00;
}

.cG { /* Gray */
	color: #c1c1c1;
}

.cGr { /* Green */
	color: #20CC00;
}

.cBl { /* Blue */
	color: #0029FF;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.centext {
	text-align: center;
}

.align_right{
	float: right;
}

.divider {
	font-size: 6px;
	color: white;
	background-color: #c1c1c1;
	margin: 16px 0px;
}

.separation {
	color: white;
	margin: 36px 0px;
}

.separation2 {
	color: white;
	margin: 18px 0px;
}

.gap {
	color: white;
	margin: 96px 0px;
}

.gap2 {
	color: white;
	margin: 78px 0px;
}

.clickable {
	filter: brightness(100%);
	transition: filter 0.2s;
}

.clickable:hover {
	filter: brightness(60%);
	cursor: pointer;
}

.photo{
	max-width: 100%;
}

.photow02 {
	max-width: 2%;
}
.photow1 {
	max-width: 10%;
}
.photow2 {
	max-width: 20%;
}
.photow3 {
	max-width: 30%;
}
.photow4 {
	max-width: 40%;
}
.photow5 {
	max-width: 50%;
}
.photow6 {
	max-width: 60%;
}
.photow8 {
	max-width: 80%;
}

.photo_clickable {
	-webkit-transition: filter 0.2s;
	-moz-transition: filter 0.2s;
	transition: filter 0.2s;
	filter: brightness(100%);
}

.photo_clickable:hover {
	filter: brightness(40%);
}


/* Fade-In */
.fade_in {
	-webkit-transition: filter 1s;
	-moz-transition: filter 1s;
	transition: filter 1s;
}

#ico_scroll {
	-webkit-transition: filter 3s;
	-moz-transition: filter 3s;
	transition: filter 3s;
}

.fade_in_start {
	filter: opacity(0%);
}

.fade_in_end {
	filter: opacity(100%);
}


@media screen and (max-width: 719px) {
	/* comes into effect for screens less than or equal to 639 pixels */
	.photow02 {
		max-width: 4%;
	}
	.photow1 {
		max-width: 20%;
	}
	.photow2 {
		max-width: 40%;
	}
	.photow3 {
		max-width: 60%;
	}
	.photow4 {
		max-width: 80%;
	}
	.photow5 {
		max-width: 100%;
	}
	.photow6 {
		max-width: 120%;
	}
	.photow8 {
		max-width: 160%;
	}
	
}